<link rel="stylesheet" href="/css/student.css">

<div id="student-container">
    <div id="student-title">
        <h1>
            Students Home
        </h1>
    </div>

    <div id="student-form">
        <form action="/students/create-student" method="POST" class="form-group">
            <input type="text" name="name" id="student-name" class="form-control" placeholder="Name" required>
            <input type="email" name="email" id="student-email" class="form-control" placeholder="Email" required>
            <input type="text" name="college" id="student-college" class="form-control" placeholder="College Name" required>
            <label for="batch">Batch</label>
            <select name="batch" id="select-batch" class="">
                <option value="" disabled selected>Select Batch</option>
                <option value="Career Camp">Career Camp</option>
                <option value="React">React</option>
                <option value="Alchemy">Alchemy</option>
                <option value="Cognizense">Cognizense</option>
            </select>
            <input type="text" name="dsa" placeholder="Data Structures and algo Score" class="form-control">
            <input type="text" name="webd" placeholder="Web Development Score" class="form-control">
            <input type="text" name="react" placeholder="Reactjs Score" class="form-control">
            <input type="submit" value="Add Student" class="btn btn-success"> 
        </form>
    </div>

    <div id="students-list-container">
        <table id="student-table" class="table table-dark">
            <thead class="thead-light">
                <tr>
                    <th>Student_ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Batch</th>
                    <th>College</th>
                    <th>Status</th>
                    <th colspan="3">
                        <tr colspan="3">Scores</tr>
                        <tr>
                            <th>DSA</th>
                            <th>WebD</th>
                            <th>React</th>
                        </tr>
                    </th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                <%for(s of students){%>
                    <tr>
                        <td><%=s._id%></td>
                        <td><%=s.name%></td>
                        <td><%=s.email%></td>
                        <td><%=s.batch%></td>
                        <td><%=s.college%></td>
                        <td><%=s.status%></td>
                        <td><%=s.score.dsa%></td>
                        <td><%=s.score.webd%></td>
                        <td><%=s.score.react%></td>
                        <td><a href="#">Edit</a></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>
</div>